<!DOCTYPE html>
<html lang="it" ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TestEni</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/dkq0roq.css" />
    <link href="style/test.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Controller\TestController.js"></script>
  </head>

  <body>
    <div ng-controller="TestController" class="container">
      <div class="sidebar">
        <ul>
          <li
            ng-repeat="n in numbers | limitTo: itemsPerPage: currentPage * itemsPerPage"
          >
            {{n < 10 ? '0' + n : n}}
          </li>
        </ul>
        <img src="pngs/downarrow.svg" ng-show="showImage" />
        <p><b ng-bind="domande"></b> Domande</p>
      </div>
      <h1 id="nDomanda"><span ng-bind="currentPage"></span>.</h1>
      <div class="risSingola">
        <p class="domanda">
          HSE si occupa di questioni molto tecniche.<br />
          A chi può essere delegata la comunicazione di tutti gli aspetti legati
          a HSE?
        </p>
        <p class="apice">Seleziona un’opzione</p>
        <form action="#">
          <div
            class="containerRisposte"
            ng-init="letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']"
          >
            <div class="risposte" ng-repeat="option in options">
              <b style="margin-right: 16px">{{letters[$index] | uppercase}}</b>
              <input
                type="radio"
                ng-model="$parent.selectedOption"
                value="{{option}}"
                style="margin-right: 16px"
                onchange="handleChange(this)"
              />
              <p>{{option}}</p>
            </div>
          </div>
          <button id="prosegui" disabled>Prosegui</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    function handleChange(input) {
      // Rimuovi la classe "selected" da tutti i div con classe "risposte"
      var risposte = document.querySelectorAll(".risposte");
      for (var i = 0; i < risposte.length; i++) {
        risposte[i].classList.remove("selected");
      }

      // Aggiungi la classe "selected" al div di appartenenza dell'input selezionato
      var parentDiv = input.parentElement;
      parentDiv.classList.add("selected");

      var button = document.getElementById("prosegui");
      button.removeAttribute("disabled");
      button.classList.add("active");
    }
  </script>
</html>
