<div class="container archivio">
  <div class="colonna-navbar">
    <nav class="side-navbar">
      <ul>
        <li>
          <a href="" ng-click="changePage('Directives/selfassessment.html')">
            <svg
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="21" cy="21" r="21" fill="#1C1C1B" />
              <path
                d="M19 21H31"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19 28H31"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19 14H31"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15 26H11V30H15V26Z"
                stroke="white"
                stroke-linejoin="round"
              />
              <path
                d="M15 19H11V23H15V19Z"
                stroke="white"
                stroke-linejoin="round"
              />
              <path
                d="M15 12H11V16H15V12Z"
                stroke="white"
                stroke-linejoin="round"
              />
            </svg>

            <span>Self Assessment</span>
          </a>
        </li>
        <li>
          <a href="" ng-click="changePage('Directives/approfondimento.html')">
            <svg
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="21" cy="21" r="21" fill="#1C1C1B" />
              <path
                d="M11.5 27.5C11.5 23.6484 11.5 14.5 11.5 14.5C11.5 12.8431 12.8431 11.5 14.5 11.5H25.5V24.5C25.5 24.5 17.1163 24.5 14.5 24.5C12.85 24.5 11.5 25.8421 11.5 27.5Z"
                stroke="white"
                stroke-linejoin="round"
              />
              <path
                d="M25.5 24.5C25.5 24.5 15.0768 24.5 14.5 24.5C12.8431 24.5 11.5 25.8432 11.5 27.5C11.5 29.1568 12.8431 30.5 14.5 30.5C15.6046 30.5 20.9379 30.5 28.5 30.5V12.5"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15 27.5H25"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span>Approfondimento</span>
          </a>
        </li>
        <li>
          <a href="">
            <svg
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="21" cy="21" r="21" fill="#FFD401" />
              <path
                d="M25 12H20V30H25V12Z"
                stroke="#1C1C1B"
                stroke-linejoin="round"
              />
              <path
                d="M30 12H25V30H30V12Z"
                stroke="#1C1C1B"
                stroke-linejoin="round"
              />
              <path
                d="M14 12L18 12.5L16.25 30L12 29.5L14 12Z"
                stroke="#1C1C1B"
                stroke-linejoin="round"
              />
              <path
                d="M27.5 18V16.5"
                stroke="#1C1C1B"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.5 18V16.5"
                stroke="#1C1C1B"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span style="font-weight: bold">Archivio</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="colonna-contenuti">
    <div class="container-principale archivio">
      <div class="head">
        <h1 id="archivio">Archivio</h1>
        <p class="archivio">
          In caso ne avessi bisogno, puoi ripetere l’ultimo Self Assessment per
          ottenere un nuovo commitment score oppure consultare il report
          dell’Assessment dello scorso anno.
        </p>
      </div>
      <div class="ripetiDiv">
        <div class="leftcont">
          <h3>Self Assessment</h3>
          <p>
            Completa nuovamente il test per scoprire il tuo livello di
            conoscenza delle regole HSE. Ottieni uno score personalizzato ed
            entra in classifica insieme ai tuoi colleghi.
          </p>
          <button class="archivio">Ripeti</button>
        </div>
        <div>
          <div class="rightlist">
            <ul>
              <li>
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_61_16992)">
                    <path
                      d="M24 0.5H0V24.5H24V0.5Z"
                      fill="white"
                      fill-opacity="0.01"
                    />
                    <path
                      d="M2.5 10H21.5V20.5C21.5 21.0523 21.0523 21.5 20.5 21.5H3.5C2.94771 21.5 2.5 21.0523 2.5 20.5V10Z"
                      stroke="white"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.5 5C2.5 4.44771 2.94771 4 3.5 4H20.5C21.0523 4 21.5 4.44771 21.5 5V10H2.5V5Z"
                      stroke="white"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8 2.5V6.5"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 2.5V6.5"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14 17.5H17"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 17.5H10"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14 13.5H17"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 13.5H10"
                      stroke="white"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_61_16992">
                      <rect
                        width="24"
                        height="24"
                        fill="white"
                        transform="translate(0 0.5)"
                      />
                    </clipPath>
                  </defs>
                </svg>

                <p>Eseguito il <b>20/12/2021</b></p>
              </li>
              <li>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 22C16.4183 22 20 18.4183 20 14C20 9.58172 16.4183 6 12 6C7.58172 6 4 9.58172 4 14C4 18.4183 7.58172 22 12 22Z"
                    stroke="white"
                  />
                  <path
                    d="M14 2H10"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 2V6"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M17.5 8L19 6.5"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 14V11"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 14H9"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <p>Completato in <b>26</b> min</p>
              </li>
              <li>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 22H19C19.5523 22 20 21.5523 20 21V7L15.5 2H5C4.44771 2 4 2.44771 4 3V21C4 21.5523 4.44771 22 5 22Z"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15.5V14C13.1046 14 14 12.9927 14 11.75C14 10.5073 13.1046 9.5 12 9.5C10.8954 9.5 10 10.5073 10 11.75"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 19.5C12.6904 19.5 13.25 18.9404 13.25 18.25C13.25 17.5597 12.6904 17 12 17C11.3097 17 10.75 17.5597 10.75 18.25C10.75 18.9404 11.3097 19.5 12 19.5Z"
                    fill="white"
                  />
                  <path
                    d="M15 2V7H20"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <p><b>26</b> domande</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="reportDiv">
        <div class="leftcont">
          <h3>Self Assessment</h3>
          <p>
            Consulta il report dell’Assessment dello scorso anno per confrontare
            i tuoi risultati.
          </p>
          <button class="archivio">Vai al report</button>
        </div>
        <div>
          <div class="rightlist">
            <ul>
              <li>
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_65_19303)">
                    <path
                      d="M24 0.5H0V24.5H24V0.5Z"
                      fill="white"
                      fill-opacity="0.01"
                    />
                    <path
                      d="M2.5 10H21.5V20.5C21.5 21.0523 21.0523 21.5 20.5 21.5H3.5C2.94771 21.5 2.5 21.0523 2.5 20.5V10Z"
                      stroke="#1C1C1B"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2.5 5C2.5 4.44771 2.94771 4 3.5 4H20.5C21.0523 4 21.5 4.44771 21.5 5V10H2.5V5Z"
                      stroke="#1C1C1B"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8 2.5V6.5"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 2.5V6.5"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14 17.5H17"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 17.5H10"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14 13.5H17"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7 13.5H10"
                      stroke="#1C1C1B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_65_19303">
                      <rect
                        width="24"
                        height="24"
                        fill="white"
                        transform="translate(0 0.5)"
                      />
                    </clipPath>
                  </defs>
                </svg>
                <p>Eseguito il <b>20/12/2021</b></p>
              </li>
              <li>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 22C16.4183 22 20 18.4183 20 14C20 9.58172 16.4183 6 12 6C7.58172 6 4 9.58172 4 14C4 18.4183 7.58172 22 12 22Z"
                    stroke="#1C1C1B"
                  />
                  <path
                    d="M14 2H10"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 2V6"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M17.5 8L19 6.5"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 14V11"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 14H9"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <p>Completato in <b>26</b> min</p>
              </li>
              <li>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 22H19C19.5523 22 20 21.5523 20 21V7L15.5 2H5C4.44771 2 4 2.44771 4 3V21C4 21.5523 4.44771 22 5 22Z"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15.5V14C13.1046 14 14 12.9927 14 11.75C14 10.5073 13.1046 9.5 12 9.5C10.8954 9.5 10 10.5073 10 11.75"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 19.5C12.6903 19.5 13.25 18.9403 13.25 18.25C13.25 17.5597 12.6903 17 12 17C11.3097 17 10.75 17.5597 10.75 18.25C10.75 18.9403 11.3097 19.5 12 19.5Z"
                    fill="#1C1C1B"
                  />
                  <path
                    d="M15 2V7H20"
                    stroke="#1C1C1B"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <p><b>26</b> domande</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
